@charset "UTF-8";
.elevation--z0 {
  box-shadow: none
}

.elevation--z1 {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 3px 0 rgba(0, 0, 0, .12)
}

.elevation--z2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.elevation--z4 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .2), 0 2px 4px -1px rgba(0, 0, 0, .12)
}

.elevation--z6 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .2), 0 3px 5px -1px rgba(0, 0, 0, .12)
}

.elevation--z8 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .2), 0 5px 5px -3px rgba(0, 0, 0, .12)
}

.elevation--z12 {
  box-shadow: 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .2), 0 7px 8px -4px rgba(0, 0, 0, .12)
}

.elevation--z16 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .2), 0 8px 10px -5px rgba(0, 0, 0, .12)
}

.elevation--z20 {
  box-shadow: 0 20px 31px 3px rgba(0, 0, 0, .14), 0 8px 38px 7px rgba(0, 0, 0, .2), 0 10px 13px -6px rgba(0, 0, 0, .12)
}

.elevation--z24 {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .2), 0 11px 15px -7px rgba(0, 0, 0, .12)
}

.ebw .overline {
  font-family: "Avenir-Next", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .875rem;
  font-weight: 400
}

.axalpro .overline {
  font-family: "Avenir-Next";
  letter-spacing: .5px
}

.salinas .overline {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem
}

.salinas .overline:first-child {
  margin-top: 0
}

.salinas .overline:before {
  content: "/";
  color: #a2d5cf;
  font-weight: 600;
  margin-right: .25rem
}

.salinas .overline.has-icon {
  display: inline-flex;
  align-items: flex-end
}

.salinas .overline.has-icon:before {
  content: none
}

.salinas .overline.has-icon .icon, .salinas .overline.has-icon .product-gallery-button:before, .salinas .overline.has-icon .image-slider__button:before, .salinas .overline.has-icon .pagination__arrow, .salinas .overline.has-icon .content-hero .content-hero-button:before, .content-hero .salinas .overline.has-icon .content-hero-button:before, .salinas .overline.has-icon .hero-button:before {
  font-size: 2rem;
  margin-right: .25rem
}

.salinas .overline > a {
  color: #fff
}

.salinas .overline > a:hover {
  color: #005ea1;
  text-decoration: none
}

.salinas .overline + * {
  margin-top: .25rem
}

.salinas .overline > sub, .salinas .overline > sup {
  line-height: 1
}

.saldoro .overline {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem
}

.saldoro .overline:first-child {
  margin-top: 0
}

.saldoro .overline:before {
  content: "/";
  color: #e6edef;
  font-weight: 600;
  margin-right: .25rem
}

.saldoro .overline.has-icon {
  display: inline-flex;
  align-items: flex-end
}

.saldoro .overline.has-icon:before {
  content: none
}

.saldoro .overline.has-icon .icon, .saldoro .overline.has-icon .product-gallery-button:before, .saldoro .overline.has-icon .image-slider__button:before, .saldoro .overline.has-icon .pagination__arrow, .saldoro .overline.has-icon .content-hero .content-hero-button:before, .content-hero .saldoro .overline.has-icon .content-hero-button:before, .saldoro .overline.has-icon .hero-button:before {
  font-size: 2rem;
  margin-right: .25rem
}

.saldoro .overline > a {
  color: #fff
}

.saldoro .overline > a:hover {
  color: #005ea1;
  text-decoration: none
}

.saldoro .overline + * {
  margin-top: .25rem
}

.saldoro .overline > sub, .saldoro .overline > sup {
  line-height: 1
}

/*! csstools-normalize v9.0.1 | github.com/csstools/normalize.css */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

main {
  display: block
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

b, strong {
  font-weight: bolder
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

audio, video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

picture img {
  width: 100%
}

svg:not(:root) {
  overflow: hidden
}

button, input, select {
  margin: 0
}

button {
  overflow: visible;
  text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button
}

fieldset {
  padding: .35em .75em .625em
}

input {
  overflow: visible
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

select {
  text-transform: none
}

select::-ms-expand {
  display: none
}

textarea {
  margin: 0;
  overflow: auto
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

::-moz-focus-inner {
  border-style: none;
  padding: 0
}

:-moz-focusring {
  outline: 1px dotted ButtonText
}

details {
  display: block
}

dialog {
  background-color: #fff;
  border: solid;
  color: #000;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1em;
  position: absolute
}

dialog:not([open]) {
  display: none
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

template {
  display: none
}

[hidden] {
  display: none
}

figure {
  display: inline-block
}

.container {
  max-width: 1356px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  position: relative
}

.container:after {
  content: "";
  display: table;
  clear: both
}

.row {
  display: flex;
  flex: 1 1 0;
  flex-flow: row wrap;
  margin-right: -1rem;
  margin-left: -1rem
}

[class*=col-] {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box
}

.col-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%
}

.col-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%
}

.col-xs-offset-3 {
  margin-left: 25%
}

.col-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%
}

.col-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%
}

.col-xs-offset-6 {
  margin-left: 50%
}

.col-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%
}

.col-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%
}

.col-xs-offset-9 {
  margin-left: 75%
}

.col-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%
}

.col-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%
}

.col-xs-offset-12 {
  margin-left: 100%
}

@media only screen and (min-width: 768px) {
  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%
  }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%
  }
  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%
  }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%
  }
  .col-sm-offset-3 {
    margin-left: 25%
  }
  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%
  }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%
  }
  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%
  }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%
  }
  .col-sm-offset-6 {
    margin-left: 50%
  }
  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%
  }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%
  }
  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%
  }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%
  }
  .col-sm-offset-9 {
    margin-left: 75%
  }
  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%
  }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%
  }
  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%
  }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%
  }
  .col-sm-offset-12 {
    margin-left: 100%
  }
}

@media only screen and (min-width: 992px) {
  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%
  }
  .col-md-offset-1 {
    margin-left: 8.3333333333%
  }
  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%
  }
  .col-md-offset-2 {
    margin-left: 16.6666666667%
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%
  }
  .col-md-offset-3 {
    margin-left: 25%
  }
  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%
  }
  .col-md-offset-4 {
    margin-left: 33.3333333333%
  }
  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%
  }
  .col-md-offset-5 {
    margin-left: 41.6666666667%
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%
  }
  .col-md-offset-6 {
    margin-left: 50%
  }
  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%
  }
  .col-md-offset-7 {
    margin-left: 58.3333333333%
  }
  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%
  }
  .col-md-offset-8 {
    margin-left: 66.6666666667%
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%
  }
  .col-md-offset-9 {
    margin-left: 75%
  }
  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%
  }
  .col-md-offset-10 {
    margin-left: 83.3333333333%
  }
  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%
  }
  .col-md-offset-11 {
    margin-left: 91.6666666667%
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%
  }
  .col-md-offset-12 {
    margin-left: 100%
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%
  }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%
  }
  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%
  }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%
  }
  .col-lg-offset-3 {
    margin-left: 25%
  }
  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%
  }
  .col-lg-offset-4 {
    margin-left: 33.3333333333%
  }
  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%
  }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%
  }
  .col-lg-offset-6 {
    margin-left: 50%
  }
  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%
  }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%
  }
  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%
  }
  .col-lg-offset-8 {
    margin-left: 66.6666666667%
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%
  }
  .col-lg-offset-9 {
    margin-left: 75%
  }
  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%
  }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%
  }
  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%
  }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%
  }
  .col-lg-offset-12 {
    margin-left: 100%
  }
}

@font-face {
  font-family: "Avenir-Next";
  src: url(../fonts/ks/AvenirNextW05-Light.2d3026ba.eot) format("eot"), url(../fonts/ks/AvenirNextW05-Light.eb7cf1ca.ttf) format("truetype"), url(../fonts/ks/AvenirNextW05-Light.729c8311.woff2) format("woff2"), url(../fonts/ks/AvenirNextW05-Light.335bc7f8.woff) format("woff");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Avenir-Next";
  src: url(../fonts/ks/AvenirNextW05-Regular.8e7462a9.eot) format("eot"), url(../fonts/ks/AvenirNextW05-Regular.2b774858.ttf) format("truetype"), url(../fonts/ks/AvenirNextW05-Regular.3c3e1096.woff2) format("woff2"), url(../fonts/ks/AvenirNextW05-Regular.660fbf85.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Avenir-Next";
  src: url(../fonts/ks/AvenirNextW05-Italic.d5e25ad6.eot) format("eot"), url(../fonts/ks/AvenirNextW05-Italic.b8df4d02.ttf) format("truetype"), url(../fonts/ks/AvenirNextW05-Italic.aad36ece.woff2) format("woff2"), url(../fonts/ks/AvenirNextW05-Italic.c437d775.woff) format("woff");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: "Avenir-Next";
  src: url(../fonts/ks/AvenirNextW05-Medium.046190c9.eot) format("eot"), url(../fonts/ks/AvenirNextW05-Medium.510a664a.ttf) format("truetype"), url(../fonts/ks/AvenirNextW05-Medium.4d52f827.woff2) format("woff2"), url(../fonts/ks/AvenirNextW05-Medium.a067695d.woff) format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "Avenir-Next";
  src: url(../fonts/ks/AvenirNextW05-Demi.3f76abc2.eot) format("eot"), url(../fonts/ks/AvenirNextW05-Demi.e530c573.ttf) format("truetype"), url(../fonts/ks/AvenirNextW05-Demi.1fe7da97.woff2) format("woff2"), url(../fonts/ks/AvenirNextW05-Demi.dacc6a84.woff) format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "Avenir-Next";
  src: url(../fonts/ks/AvenirNextW05-Bold.d482d0b8.eot) format("eot"), url(../fonts/ks/AvenirNextW05-Bold.c7cc8baf.ttf) format("truetype"), url(../fonts/ks/AvenirNextW05-Bold.191cf6c9.woff2) format("woff2"), url(../fonts/ks/AvenirNextW05-Bold.5f4831c5.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: "Avenir-Next";
  src: url(../fonts/ks/AvenirNextW05-BoldItalic.3e377bf0.eot) format("eot"), url(../fonts/ks/AvenirNextW05-BoldItalic.fbdcc44a.ttf) format("truetype"), url(../fonts/ks/AvenirNextW05-BoldItalic.7038cf14.woff2) format("woff2"), url(../fonts/ks/AvenirNextW05-BoldItalic.ee4f1fc7.woff) format("woff");
  font-weight: 700;
  font-style: italic
}

html {
  font-family: "Avenir-Next", arial;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #333
}

@media print {
  html {
    font-size: 10px
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 1rem 0 0
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, ul:first-child, ol:first-child {
  margin-top: 0
}

h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty, p:empty, ul:empty, ol:empty {
  display: none
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
  color: #333;
}

h1, h2, .h1, .h2 {
  font-family: "Avenir-Next", arial;
  line-height: 1.3
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  font-family: "Avenir-Next", arial;
  line-height: 1.3
}

h1, .h1 {
  font-family: "Avenir-Next", arial;
  font-size: 2.488rem
}

h2, .h2 {
  font-family: "Avenir-Next", arial;
  font-size: 2.074rem
}

h3, .h3 {
  font-family: "Avenir-Next", arial;
  font-size: 1.728rem
}

h4, .h4 {
  font-family: "Avenir-Next", arial;
  font-size: 1.44rem
}

h5, .h5 {
  font-family: "Avenir-Next", arial;
  font-size: 1.2rem
}

h6, .h6 {
  font-family: "Avenir-Next", arial;
  font-size: 1rem
}

p {
  font-size: 1rem;
  line-height: 1.7em
}

@media only screen and (min-width: 992px) {
  h1, .h1 {
    font-size: 3.052rem
  }
  h2, .h2 {
    font-size: 2.333334rem
  }
  h3, .h3 {
    font-size: 1.953rem
  }
  h4, .h4 {
    font-size: 1.563rem
  }
  h5, .h5 {
    font-size: 1.25rem
  }
}

a {
  color: #005ea1;
  text-decoration: none;
  text-transform: none;
  font-weight: 400
}

a:hover {
  text-decoration: underline
}

sup, sub {
  line-height: 0
}

.lead {
  font-weight: 300;
  color: #767676
}

@font-face {
  font-family: "ks-icons";
  src: url(../fonts/ks/ks-icons.2e6015c8.ttf) format("truetype"), url(../fonts/ks/ks-icons.8048eb19.woff) format("woff"), url(../fonts/ks/ks-icons.67e14149.svg#ks-icons) format("svg");
  font-weight: 400;
  font-style: normal
}

.icon, .product-gallery-button:before, .image-slider__button:before, .pagination__arrow, .content-hero .content-hero-button:before, .hero-button:before {
  font-family: "ks-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-fax:before {
  content: "\e93f"
}

.icon-arrow-down:before {
  content: "\e906"
}

.icon-arrow-left:before {
  content: "\e908"
}

.icon-arrow-right:before {
  content: "\e90c"
}

.icon-arrow-up:before {
  content: "\e90d"
}

.icon-zip:before {
  content: "\e93d"
}

.icon-file:before {
  content: "\e93e"
}

.icon-pin:before {
  content: "\e93c"
}

.icon-employees:before {
  content: "\e93b"
}

.icon-location:before {
  content: "\e925"
}

.icon-graduate:before {
  content: "\e93a"
}

.icon-factory:before {
  content: "\e939"
}

.icon-performance:before {
  content: "\e937"
}

.icon-cashflow:before {
  content: "\e938"
}

.icon-link:before {
  content: "\e92f"
}

.icon-segment-industry:before {
  content: "\e900"
}

.icon-segment-consumer:before {
  content: "\e901"
}

.icon-segment-community:before {
  content: "\e902"
}

.icon-segment-agriculture:before {
  content: "\e903"
}

.icon-circle-empty:before {
  content: "\e904"
}

.icon-image:before {
  content: "\e905"
}

.icon-chevron-up:before {
  content: "\e907"
}

.icon-d-chevron-left:before {
  content: "\e909"
}

.icon-chevron-right:before {
  content: "\e90a"
}

.icon-chevron-left:before {
  content: "\e90b"
}

.icon-d-chevron-right:before {
  content: "\e90e"
}

.icon-chevron-down:before {
  content: "\e90f"
}

.icon-www:before {
  content: "\e910"
}

.icon-download:before {
  content: "\e911"
}

.icon-upload:before {
  content: "\e912"
}

.icon-mail:before {
  content: "\e913"
}

.icon-volume:before {
  content: "\e914"
}

.icon-mute:before {
  content: "\e915"
}

.icon-audio:before {
  content: "\e916"
}

.icon-single-neutral:before {
  content: "\e917"
}

.icon-single-woman:before {
  content: "\e918"
}

.icon-single-man:before {
  content: "\e919"
}

.icon-controls-play:before {
  content: "\e91a"
}

.icon-controls-pause:before {
  content: "\e91b"
}

.icon-controls-stop:before {
  content: "\e91c"
}

.icon-video:before {
  content: "\e91d"
}

.icon-pdf:before {
  content: "\e91e"
}

.icon-txt:before {
  content: "\e91f"
}

.icon-linkedin:before {
  content: "\e920"
}

.icon-instagram:before {
  content: "\e921"
}

.icon-xing:before {
  content: "\e922"
}

.icon-youtube:before {
  content: "\e923"
}

.icon-global:before {
  content: "\e924"
}

.icon-phone-mobile:before {
  content: "\e926"
}

.icon-phone:before {
  content: "\e927"
}

.icon-phone-landline:before {
  content: "\e928"
}

.icon-calendar:before {
  content: "\e929"
}

.icon-info:before {
  content: "\e92a"
}

.icon-link-external:before {
  content: "\e92b"
}

.icon-remove:before {
  content: "\e92c"
}

.icon-zoom-out:before {
  content: "\e92d"
}

.icon-zoom-in:before {
  content: "\e92e"
}

.icon-filter:before {
  content: "\e930"
}

.icon-time:before {
  content: "\e931"
}

.icon-burger:before {
  content: "\e932"
}

.icon-search:before {
  content: "\e933"
}

.icon-add:before {
  content: "\e934"
}

.icon-check:before {
  content: "\e935"
}

.icon-close:before {
  content: "\e936"
}

.icon-list-to-do:before {
  content: "\e942"
}

.icon-hand-expand:before {
  content: "\e941"
}

.icon-ecology-leaf:before {
  content: "\e940"
}

.icon-product-single:before {
  content: "\e945"
}

.icon-product-small:before {
  content: "\e946"
}

.icon-product-large:before {
  content: "\e944"
}

.icon-product-bigbag:before {
  content: "\e943"
}

.icon-file-safetysheet:before {
  content: "\e948"
}

.icon-file-datasheet:before {
  content: "\e947"
}

.icon-file-certificate:before {
  content: "\e949"
}

.icon-molecule:before {
  content: "\e94a"
}

.icon-subsegment-winter-road-maintenance:before {
  content: "\e902"
}

.icon-subsegment-food:before {
  content: "\e94b"
}

.icon-subsegment-industry:before {
  content: "\e94c"
}

.icon-subsegment-pharma:before {
  content: "\e94d"
}

.icon-subsegment-water:before {
  content: "\e94e"
}

.icon-subsegment-feed:before {
  content: "\e94f"
}

.icon-subsegment-agriculture:before {
  content: "\e953"
}

.icon-print:before {
  content: "\e950"
}

.icon-profession:before {
  content: "\e95d"
}

.icon-star:before {
  content: "\e952"
}

.icon-arrange-numbers-desc:before {
  content: "\e957"
}

.icon-arrange-numbers-asc:before {
  content: "\e956"
}

.icon-refresh:before {
  content: "\e954"
}

.icon-hourglass:before {
  content: "\e955"
}

.icon-agrando:before {
  content: "\e958"
}

.icon-alert:before {
  content: "\e95a"
}

.icon-bulb:before {
  content: "\e959"
}

.icon-high-school-students:before {
  content: "\e95c"
}

.icon-college-students:before {
  content: "\e951"
}

.icon-graduates:before {
  content: "\e95b"
}

.icon-professionals:before {
  content: "\e95e"
}

.icon-detonator:before {
  content: "\e95f"
}

.icon-book:before {
  content: "\e960"
}

.icon-crystals:before {
  content: "\e961"
}

.icon-wagon:before {
  content: "\e962"
}

.icon-ticket:before {
  content: "\e963"
}

.icon-treasure:before {
  content: "\e964"
}

.icon-ticket-pay-cash:before {
  content: "\e965"
}

.icon-truck:before {
  content: "\e966"
}

.icon-waste-management:before {
  content: "\e967"
}

.icon-handshake:before {
  content: "\e96b"
}

.icon-calendar-clock:before {
  content: "\e96a"
}

.icon-flexibility:before {
  content: "\e969"
}

.icon-laboratory-check:before {
  content: "\e968"
}

.icon-page:before {
  content: "\e96e"
}

.icon-article:before {
  content: "\e96d"
}

.icon-news:before {
  content: "\e96c"
}

.icon-webinar:before {
  content: "\e970"
}

.icon-product:before {
  content: "\e96f"
}

.icon-folder-file:before {
  content: "\e972"
}

.icon-file-sheet:before {
  content: "\e971"
}

.icon-help:before {
  content: "\e974"
}

.icon-pickaxe:before {
  content: "\e973"
}

.icon-compass-arrow:before {
  content: "\e98c"
}

.icon-settings:before {
  content: "\e98b"
}

.icon-information-desk:before {
  content: "\e98a"
}

.icon-information-desk-ticket:before {
  content: "\e989"
}

.icon-information-desk-paper:before {
  content: "\e988"
}

.icon-adventure-car:before {
  content: "\e987"
}

.icon-lift-two-people:before {
  content: "\e986"
}

.icon-diamond-shine:before {
  content: "\e985"
}

.icon-outdoors-mining:before {
  content: "\e983"
}

.icon-bomb-explosive-belt:before {
  content: "\e982"
}

.icon-explosive:before {
  content: "\e981"
}

.icon-bomb-explosive:before {
  content: "\e97f"
}

.icon-heavy-equipment-excavator-1:before {
  content: "\e97e"
}

.icon-heavy-equipment-excavator:before {
  content: "\e97d"
}

.icon-heavy-equipment-lift-2:before {
  content: "\e97c"
}

.icon-night-club-disco-ball:before {
  content: "\e97b"
}

.icon-concert-speakers:before {
  content: "\e97a"
}

.icon-gold-bars:before {
  content: "\e978"
}

.icon-currency-euro-circle:before {
  content: "\e976"
}

.icon-irons-mallets:before {
  content: "\e975"
}

.icon-business:before {
  content: "\e984"
}

.icon-agile:before {
  content: "\e980"
}

.icon-ecology:before {
  content: "\e979"
}

.icon-optimistic:before {
  content: "\e977"
}

.icon-check-circle:before {
  content: "\e996"
}

.icon-remove-circle:before {
  content: "\e995"
}

.icon-user-cash-scale:before {
  content: "\e994"
}

.icon-building-value:before {
  content: "\e993"
}

.icon-performance-2:before {
  content: "\e992"
}

.icon-monetization-structure:before {
  content: "\e991"
}

.icon-target-center-monitor:before {
  content: "\e990"
}

.icon-performance-money:before {
  content: "\e98f"
}

.icon-innovative:before {
  content: "\e98e"
}

.icon-partnership:before {
  content: "\e98d"
}

.icon-factory-2:before {
  content: "\e99a"
}

.icon-certificate:before {
  content: "\e999"
}

.icon-factory-certificate:before {
  content: "\e998"
}

.icon-check-badge:before {
  content: "\e997"
}

.icon-cash-payment-bill-3:before {
  content: "\e99b"
}

.icon-city-safety-shield-building:before {
  content: "\e99c"
}

.icon-digital-nomad-sun:before {
  content: "\e99d"
}

.icon-fitness-heart-rate:before {
  content: "\e99e"
}

.icon-office-work-wireless:before {
  content: "\e99f"
}

.icon-online-learning-ar-education-2:before {
  content: "\e9a0"
}

.icon-saving-piggy-coins:before {
  content: "\e9a1"
}

.icon-workflow-teamwork-user-high-five:before {
  content: "\e9a2"
}

.icon-book-flip-page:before {
  content: "\e9a3"
}

.icon-messages-bubble:before {
  content: "\e9a4"
}

.icon-product-truck:before {
  content: "\e9a5"
}

.icon-fullscreen:before {
  content: "\e9a6"
}

.icon-shipment-truck:before {
  content: "\e9a7"
}

.icon-link-external-2:before {
  content: "\e9aa"
}

.icon-sheep:before {
  content: "\e9ad"
}

.icon-horse:before {
  content: "\e9ac"
}

.icon-goat:before {
  content: "\e9ab"
}

.icon-deer:before {
  content: "\e9a9"
}

.icon-cow:before {
  content: "\e9a8"
}

.icon-subsegment-kalitech:before {
  content: "\e9b0"
}

.icon-subsegment-kalisolu:before {
  content: "\e9af"
}

.icon-subsegment-kalisoil:before {
  content: "\e9ae"
}

.icon-product-cylinder:before {
  content: "\e9b1"
}

.icon-product-xsmall:before {
  content: "\e9d8"
}

.icon-chemicals:before {
  content: "\e9d9"
}

.icon-axal-dissolving:before {
  content: "\e9ba"
}

.icon-axal-cleanliness:before {
  content: "\e9bb"
}

.icon-axal-washing-machine:before {
  content: "\e9bc"
}

.icon-axal-leaf:before {
  content: "\e9bd"
}

.icon-axal-salt:before {
  content: "\e9c3"
}

.icon-axal-shower-tap:before {
  content: "\e9c4"
}

.icon-axal-water-tap:before {
  content: "\e9c7"
}

.icon-axal-sink:before {
  content: "\e9c8"
}

.icon-axal-performance:before {
  content: "\e9ca"
}

.icon-axal-tablet-consumption:before {
  content: "\e9cd"
}

.icon-axal-tablet:before {
  content: "\e9ce"
}

.icon-axal-transport:before {
  content: "\e9cf"
}

.icon-axal-soft-water:before {
  content: "\e9d2"
}

.icon-axal-two-blocks:before {
  content: "\e9d4"
}

.icon-axal-grab-block:before {
  content: "\e9d5"
}

.icon-axal-block:before {
  content: "\e9d6"
}

.icon-axal-block-tablet:before {
  content: "\e9d7"
}

.icon-external-link:before {
  content: "\e9b2"
}

.icon-nutriks-bread-pretzel:before {
  content: "\e9b3"
}

.icon-nutriks-vinegar-oil:before {
  content: "\e9b4"
}

.icon-nutriks-fish:before {
  content: "\e9b5"
}

.icon-nutriks-spices:before {
  content: "\e9b6"
}

.icon-nutriks-beverages:before {
  content: "\e9b7"
}

.icon-nutriks-canned-goods:before {
  content: "\e9b8"
}

.icon-nutriks-dairy-products:before {
  content: "\e9b9"
}

.icon-nutriks-soap:before {
  content: "\e9be"
}

.icon-nutriks-snacks:before {
  content: "\e9bf"
}

.icon-nutriks-sauces:before {
  content: "\e9c0"
}

.icon-nutriks-sausages:before {
  content: "\e9c1"
}

.icon-nutriks-soups:before {
  content: "\e9c2"
}

.icon-halde:before {
  content: "\e9c5"
}

.icon-technical-innovations:before {
  content: "\e9c6"
}

.icon-manufacturing-assembly:before {
  content: "\e9c9"
}

.icon-maintenance:before {
  content: "\e9cb"
}

.icon-d-chevron-up:before {
  content: "\e9cc"
}

.icon-d-chevron-down:before {
  content: "\e9d0"
}

.is-hidden {
  display: none !important
}

.visible-xsmall-only {
  display: none
}

@media only screen and (max-width: 767px) {
  .visible-xsmall-only {
    display: block
  }
}

.visible-small-up {
  display: none
}

@media only screen and (min-width: 768px) {
  .visible-small-up {
    display: block
  }
}

.visible-xsmall-medium {
  display: block
}

@media only screen and (min-width: 992px) {
  .visible-xsmall-medium {
    display: none
  }
}

.visible-small-only {
  display: none
}

@media only screen and (max-width: 991px) {
  .visible-small-only {
    display: block
  }
}

.visible-medium-up {
  display: none
}

@media only screen and (min-width: 992px) {
  .visible-medium-up {
    display: block
  }
}

.visible-medium-only {
  display: none
}

@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .visible-medium-only {
    display: block
  }
}

.visible-medium-large {
  display: none
}

@media only screen and (min-width: 992px) {
  .visible-medium-large {
    display: block
  }
}

@media only screen and (min-width: 1440px) {
  .visible-medium-large {
    display: none
  }
}

.visible-large-up {
  display: none
}

@media only screen and (min-width: 1280px) {
  .visible-large-up {
    display: block
  }
}

.visible-large-only {
  display: none
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  .visible-large-only {
    display: block
  }
}

.visible-xlarge-up {
  display: none
}

@media only screen and (min-width: 1440px) {
  .visible-xlarge-up {
    display: block
  }
}

.no-wrap {
  white-space: nowrap
}

*, :after, :before {
  box-sizing: border-box;
  scroll-padding-top: 10.5rem
}

@media only screen and (min-width: 992px) {
  *, :after, :before {
    scroll-padding-top: 11.75rem
  }
}

@page {
  size: auto;
  margin: 15mm 20mm 15mm 20mm
}

html {
  height: 100%
}

@media print {
  html {
    height: auto
  }
}

body {
  margin: 0;
  height: auto
}

@media print {
  body {
    margin: auto
  }
}

.page-wrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows:1fr auto;
  grid-template-columns:100%
}

@media print {
  .page-wrapper {
    display: block
  }
}

.page {
  padding-top: 3rem
}

@media only screen and (min-width: 992px) {
  .page {
    padding-top: 4.25rem
  }
}

.page--type-kali {
  padding-top: 4.75rem
}

.page--type-kali *, .page--type-kali :after, .page--type-kali :before {
  scroll-padding-top: 12.25rem
}

@media only screen and (min-width: 992px) {
  .page--type-kali *, .page--type-kali :after, .page--type-kali :before {
    scroll-padding-top: 13.5rem
  }
}

@media only screen and (min-width: 992px) {
  .page--type-kali {
    padding-top: 6rem
  }
}

.page--content {
  padding-top: 4rem
}

@media only screen and (min-width: 992px) {
  .page--content {
    padding-top: 6.25rem
  }
}

.cfk .page--type-product-detail .breadcrumb, .cfk .page:not(.page--type-anchor-nav) [data-section=intro]:first-child .breadcrumb {
  padding: 1rem 1rem 1rem 6rem
}

@media only screen and (min-width: 992px) {
  .cfk .page--type-product-detail .breadcrumb, .cfk .page:not(.page--type-anchor-nav) [data-section=intro]:first-child .breadcrumb {
    padding: 1rem 1rem 3rem 10rem
  }
}

@media only screen and (min-width: 1280px) {
  .cfk .page--type-product-detail .breadcrumb {
    padding: 1rem 21rem 3rem calc((100vw - 1244px) / 2 + 10rem)
  }
}

@media only screen and (min-width: 1280px) {
  .cfk .page:not(.page--type-anchor-nav) [data-section=intro]:first-child .breadcrumb {
    padding: 1rem 21rem 1rem calc((100vw - 1244px) / 2 + 10rem)
  }
}

@media only screen and (min-width: 768px) {
  .cfk .page:not(.page--type-anchor-nav) [data-section=intro]:first-child .section-comp-wrapper {
    padding-top: 3rem !important
  }
}

.dsd .page--type-product-detail .breadcrumb, .dsd .page:not(.page--type-anchor-nav) [data-section=intro]:first-child .breadcrumb {
  padding: 1rem 1rem 1rem 8rem
}
[data-section=intro], [data-section=product], [data-section=related], [data-section=details], [data-section=cta], [data-section=readon], [data-section=product-detail], .page--type-product [data-section=main], .page--type-culture [data-section]#main-page-section-appliance, .page--type-culture [data-section]#main-page-section-fertilization {
  background-color: #f5f5f5;
}
[data-section=intro] .section-entry-wrapper, [data-section=intro] .section-comp-wrapper, [data-section=filter] .section-entry-wrapper, [data-section=filter] .section-comp-wrapper, [data-section=main] .section-entry-wrapper, [data-section=main] .section-comp-wrapper, [data-section=route] .section-entry-wrapper, [data-section=route] .section-comp-wrapper, [data-section=further] .section-entry-wrapper, [data-section=further] .section-comp-wrapper {
  max-width: 1356px;
}

[data-section=intro] .section-comp-wrapper {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
[data-section=intro] .section-entry-wrapper>*, [data-section=intro] .section-comp-wrapper>*, [data-section=filter] .section-entry-wrapper>*, [data-section=filter] .section-comp-wrapper>*, [data-section=main] .section-entry-wrapper>*, [data-section=main] .section-comp-wrapper>*, [data-section=route] .section-entry-wrapper>*, [data-section=route] .section-comp-wrapper>*, [data-section=further] .section-entry-wrapper>*, [data-section=further] .section-comp-wrapper>* {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 992px) {
  [data-section=intro] .section-comp-wrapper {
    padding-bottom: 6rem;
  }
  [data-section=intro]:not(:has(.breadcrumb)) .section-comp-wrapper {
    padding-top: 6rem;
  }
}